.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  height: 400px;
  width: 100%;
  margin-bottom: 8px;
}

.player {
  border: none;
  border-radius: 8px;
}

.queueCard {
  flex: 1;
}

.queueItem {
  display: flex;
  flex-direction: row;
}

.queueItemPicture {
  height: 48px;
  margin: 0 10px;
  border-radius: 4px;
}

.queueItemName {
  flex: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  gap: 8px;
}

.enqueueInputOuter {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
