.commentAction {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.commentsList {
    margin-top: 1px;
    flex: 1;
    padding: 8px 16px;
    overflow-y: scroll;
    z-index: 0;
}

.commentInput {
    margin-right: 8px;
}
